# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"

# https://generate-secret.vercel.app/32
# NEXTAUTH_SECRTET=c12964689f107d37c777e9511659e3e8
AUTH_SECRET="KfQ/iHWyLfO3eNAGFQaMeKKoUX7ENzPg52D460/8sfA=" # Added by `npx auth`. Read more: https://cli.authjs.dev

AUTH_GITHUB_ID=Ov23livKfAhoc4E8vrB5
AUTH_GITHUB_SECRET=d76be900cf6de2d7c2a0ea31f29f60379cb74016